/* Layout helpers */

.ui-helper-hidden { display: none; }
.ui-helper-hidden-accessible { border: none; clip: rect(0 0 0 0); height: 1px; margin: -1px; overflow: hidden; padding: 0; position: absolute; width: 1px; }
.ui-helper-reset { margin: 0; padding: 0; border: none; outline: 0; line-height: 1.3; text-decoration: none; font-size: 100%; list-style: none; }
.ui-helper-clearfix:before, .ui-helper-clearfix:after { content: ""; display: table; border-collapse: collapse; }
.ui-helper-clearfix:after { clear: both; }
.ui-helper-zfix { width: 100%; height: 100%; top: 0; left: 0; position: absolute; opacity: 0; }

.ui-front { z-index: 100; }

/* Interaction Cues */

.ui-state-disabled { cursor: default !important; }

/* Overlays */

.ui-widget-overlay { position: fixed; top: 0; left: 0; width: 100%; height: 100%; }
.ui-autocomplete { width: 599px; }
@media only screen and (max-width: 735px) {
	.ui-autocomplete { width: 100%; }
}
.ui-menu { list-style: none; padding: 0; margin: 0; display: block; outline: none; position: absolute; top: 0; left: 0; cursor: default; background-color: #fff; box-shadow: 0 1px 6px rgba(0,0,0,.3); font-weight: 400; }
@supports ((-webkit-backdrop-filter: initial) or (backdrop-filter: initial)) {
	.ui-menu { -webkit-backdrop-filter: saturate(180%) blur(20px); backdrop-filter: saturate(180%) blur(20px); background-color: rgba(256,256,256,.7); }
}
.ui-menu .ui-menu-item { color: #222; position: relative; margin: 0; padding: 0; height: 35px; line-height: 35px; cursor: pointer; }
.ui-menu .ui-menu-item .ui-menu-item-wrapper { padding: 0 1em 0 .4em; }
@media only screen and (max-width: 735px) {
	.ui-menu .ui-menu-item { font-size: 16px; height: 40px; line-height: 40px; }
}

/* Component containers */

.ui-widget-content { border: none; color: #444; }
.ui-widget-content a { color: #444; }

.ui-selectmenu-menu { padding: 0; margin: 0; position: relative; top: 0; left: 0; display: none; } 
.ui-selectmenu-open { display: block; }
.ui-selectmenu-button { display: inline-block; overflow: hidden; position: relative; text-decoration: none; cursor: pointer; border-bottom: 1px solid #ddd;  margin-left: 5px; padding: 2px 0; }
.ui-selectmenu-button span.ui-selectmenu-text { text-align: left; padding: 0 3px 1px; font-size: .9em !important; display: block; overflow: hidden; white-space: nowrap; border-radius: 3px; background: #fff; box-shadow: none; border: none !important; }

/* Interaction states */
.ui-menu-item-wrapper.ui-state-active { background: #3FCB21; color: #fff; outline: 0; }
.ui-selectmenu-button:hover, .ui-selectmenu-button.ui-selectmenu-button-open { border-bottom-color: #3FCB21 !important; background: #fff !important; }

