/* Reset */

html,body,div,span,ul,ol,li,h1,h2,h3,h4,h5,h6,p,article,aside,b,i,u,em,img,table,tr,td,th,a { margin: 0; padding: 0; }
body,h1,h2,h3,h4,h5,h6,p,span,a { font-size: 100%; font-weight: 300; font-style: normal; text-decoration: none; }
ul,ol,li { list-style: none; }
iframe,input,img,a,a:active,a:hover { border: none; }
table { border-collapse: collapse; border-spacing: 0; }
article,aside,section,footer,nav,iframe { display: block; }


/* Imports */

@import 'partials/fonts';
@import 'partials/layout';
@import 'partials/header';
@import 'partials/recipe-drawer';
@import 'partials/recipe-banner';
@import 'partials/hero';
@import 'partials/help';
@import 'partials/footer';
@import 'partials/input';
@import 'partials/output';
@import 'partials/glances';
@import 'partials/spectrum';
@import 'partials/sheets';
@import 'partials/caloric-ratio';
@import 'partials/rankings';
@import 'partials/additional-info';
@import 'partials/recipe-file';