/* Reset */

html,body,div,span,ul,ol,li,h1,h2,h3,h4,h5,h6,p,article,aside,b,i,u,em,img,table,tr,td,th,a { margin: 0; padding: 0; }
body,h1,h2,h3,h4,h5,h6,p,span,a { font-size: 100%; font-weight: 300; font-style: normal; text-decoration: none; }
ul,ol,li { list-style: none; }
iframe,input,img,a,a:active,a:hover { border: none; }
table { border-collapse: collapse; border-spacing: 0; }
article,aside,section,footer,nav,iframe { display: block; }

* [hidden],
.hidden,
.removed {
    display: none;
}

/* Colors */

$white: #fff;
$lightgrey: #ddd;
$black: #000;

$blue: #0060fa;
$blue-shade: #004ecc;

/* Imports */

@import 'partials/typography';
@import 'partials/layout';
@import 'partials/userinput';
@import 'partials/autocomplete';