/* Additional Information */

#extras { color: #000; display: block; width: 100%; background: #fff; text-align: center; }
@media only screen and (max-width: 735px) {
	#extras .context, #full-details { display: none; }
}
#extras .context { width: 800px; }
#extras .context h1 { color: #333; }
#extras .context p { color: #666; }
#full-details { text-align: left; padding-top: 50px; }
#full-details ul { height: 35px; font-size: 11px; clear: both; display: block; }
@media only screen and (max-width: 1024px) {
	#full-details ul { font-size: 9px; letter-spacing: 0; }
}
#full-details ul li { display: inline-block; float: left; width: 5.2%; height: 35px; line-height: 35px; text-align: center; }
#full-details ul li:first-child { width: 21.7%; text-align: left; padding-left: 0.3%; }
#full-details ul.header { font-weight: 600; color: #555; border-bottom: 1px solid #aaa; }
#full-details ul.header li { border-radius: 5px 5px 0 0; }
#full-details-list { width: 100%; clear: both; display: block; }
#full-details-list .dummy { display: block; width: 100%; padding: 40px 0; text-align: center; background: #f3f3f3; color: #888; }
#full-details-list li { border-bottom: 1px solid #e3e3e3; cursor: default; }
#full-details-list li:hover { background: #9dff6b; }
#full-details-list li:first-child:hover { background: transparent !important; }
#full-details-list .highlight, #extras .header .highlight { background: #eee; }
