/* ==============================
   AUTOCOMPLETE
   ============================== */

.autocomplete {
    display: block;
    position: absolute;
    top: 50px;
    left: 0;
    width: 100%;
    background: #fff;
    border: 1px solid #ddd;
}