/* FONTS */

body { font-family: "Helvetica", sans-serif; font-size: 100%; background: #fff; }

h1 { margin-bottom: 15px; color: #000; font-size: 40px; }
h2 { margin-bottom: 10px; color: #000; font-size: 20px; }
h3 { margin-bottom: 10px; color: #000; font-size: 14px; }
a { text-decoration: none; color: inherit; font-weight: inherit; }
sub { vertical-align: sub; }
sup { vertical-align: super; font-size: 50%; }