/* FOOTER */

#footer { font-size: 9px; color: #aaa; padding: 30px 0 50px; width: 100%; }
#footer.revealed { background: #f8f8f8; }
@media only screen and (max-width: 1024px) {
	#footer { width: 90%; padding: 30px 5%; }
}
#footer a:hover { color: #000; text-decoration: underline; }

#byline li { display: inline-block; padding: 2px 13px 2px 11px; border-right: 1px solid #eee; line-height: 20px; height: 20px; }
#byline li:first-child { padding-left: 26px; background-image: url('../images/icon.svg'); background-repeat: no-repeat; background-position: 0 0; background-size: auto 20px; }
#byline li:last-child { border: none; padding-left: 8px; padding-right: 0; }

#copyright { font-weight: 600; }
#disclaimer { border-top: 1px solid #eee; margin-top: 30px; padding-top: 30px; }
@media only screen and (max-width: 735px) {
	#disclaimer { margin-top: 12px; }
}
#disclaimer p { margin-bottom: 10px; }

#fineprint { display: none; padding: 15px 0 0 15px; }
#footer.revealed #fineprint { display: block; }
#fineprint li { list-style-type: decimal; padding-left: 3px; margin-bottom: 5px; }
#fineprint a { text-decoration: underline; }
