/* Glances */

#glances-container { display: block; text-align: center; height: 700px; background: #fff; }
#glances-container .context { color: #666; width: 800px; }
#glances-container .context h1 { color: #333; }
@media only screen and (max-width: 1024px) {
	#glances-container { width: 100%; overflow: hidden; height: auto; padding-bottom: 60px; }
}
@media only screen and (max-width: 735px) {
    #glances-container { padding-bottom: 20px; }
	#glances-container .context { width: 90%; padding: 0 5%; margin-bottom: 20px; }
}

#glances { width: 100%; display: block; }
#glances span { text-align: center; display: inline-block; width: 19.85%; float: left; margin-top: 40px; border-right: 1px solid #ddd; padding-bottom: 30px; }
#glances span:last-of-type { border-right: none; }
@media only screen and (max-width: 735px) {
    #glances span { float: none; width: 90%; height: 130px; border-right: none; border-bottom: 1px solid #ddd; margin-left: 0; margin-right: 0; margin-bottom: 0; margin-top: 0; padding-bottom: 0; }
	#glances span:last-of-type { margin-right: 0; border-bottom: none; }
}

#glances h1 { font-weight: 100; color: #fff; font-size: 70px; margin: 30px 0 0; text-transform: lowercase; }
#glances label.name { font-size: 18px; color: #aaa; display: block; width: 100%; margin-top: 10px; }
@media only screen and (max-width: 1024px) {
    #glances h1 { font-size: 50px; margin: 25px 0 0; }
	#glances label.name { font-size: 16px; font-weight: 100; }
}
@media only screen and (max-width: 735px) {
    #glances h1 { font-size: 70px; display: inline-block; float: left; text-align: right; width: 48%; }
	#glances label.name { font-size: 30px; display: inline-block; float: right; text-align: left; width: 48%; margin-top: 60px; }
}

#glances sub { font-size: 70%; vertical-align: 0%; }
#gl-cal h1 { color: #aaa; }
#gl-satfat h1 { color: #ff8926; }
#gl-fiber h1 { color: #3bdb2c; }
#gl-sugar h1 { color: #25b218; }
#gl-protein h1 { color: #139aff; }

@keyframes bounce {
	0% { margin-top: 40px; box-shadow: 0 5px 15px rgba(0,0,0,.2); }
	20% { margin-top: 45px; box-shadow: 0 4px 13px rgba(0,0,0,.2); }
	35% { margin-top: 5px; box-shadow: 0 25px 40px rgba(0,0,0,.15); }
	48% { margin-top: 50px; box-shadow: 0 1px 5px rgba(0,0,0,.3); }
	60% { margin-top: 35px; box-shadow: 0 6px 17px rgba(0,0,0,.2); }
	100% { margin-top: 40px; box-shadow: 0 5px 15px rgba(0,0,0,.2); }
}

/* @media only screen and (min-width: 1025px) {
	#glances.animated span { animation-name: bounce; animation-duration: 1.5s; }
	#glances.animated #gl-cal { animation-delay: .2s; }
	#glances.animated #gl-satfat { animation-delay: .3s; }
	#glances.animated #gl-fiber { animation-delay: .4s; }
	#glances.animated #gl-sugar { animation-delay: .5s; }
	#glances.animated #gl-protein { animation-delay: .6s; }
} */