/* HEADER */

#statusbar { display: block; width: 100%; height: 30px; line-height: 30px; background: #eee; letter-spacing: 0.5px; }
@media only screen and (max-width: 735px) {
	#statusbar { height: 40px; line-height: 40px; background: #FFE7CF; }
}
#my-recipes { float: right; font-size: 11px; color: #666; }
#my-recipe-count { display: inline-block; height: 100%; margin-left: 5px; padding: 0 10px; background: rgba(0,0,0,0.1); }
@media only screen and (max-width: 735px) {
    #my-recipes { font-size: 12px; }
	#my-recipe-count { padding: 0 15px; }
}
#my-recipe-count.full { background: #3dba21; color: #fff; cursor: pointer; font-weight: 600; }
#my-recipe-count.full:hover { background: #3FCB21; }
