/* INPUT */

#abovefold { width: 100%; padding: 40px 0 100px; background: linear-gradient(to bottom, #fff, #f8f8f8); }
@media only screen and (max-width: 1024px) {
	#abovefold { padding: 40px 0 60px; }
}
@media only screen and (max-width: 735px) {
	#abovefold { padding: 40px 0 0px; background-image: url(../images/table.jpg); background-size: 1000px 440px; background-repeat: no-repeat; background-position: top center; background-color: #eec9a4; }
}

#table { display: block; background-image: url('../images/table.jpg'); background-repeat: repeat-y; background-position: top center; background-size: 1000px 440px; background-color: #eec9a4; box-shadow: 0 5px 15px rgba(0,0,0,0.5); padding: 45px 200px 67px; }
@media only screen and (max-width: 1024px) {
	#table { width: 600px; position: relative; left: 50%; margin-left: -362.5px; background-image: url(../images/table-small.jpg); background-size: 725px 319px; padding: 35px 62.5px 54px; }
}
@media only screen and (max-width: 735px) {
	#table { width: 100%; position: static; left: 0; margin-left: 0; padding: 0; background: none; box-shadow: none; }
}

#input { display: block; width: 600px; box-shadow: 0 1px 3px rgba(0,0,0,0.5); }
@media only screen and (max-width: 735px) {
	#input { width: 100%; background: #fff; border-radius: 10px 10px 0 0; box-shadow: 0 -4px 4px rgba(0,0,0,0.3); border-bottom: 1px solid #ddd; }
}

#entries .entry.clone { display: none; }
#entries .entry { display: block; position: relative; background: #fff; border-bottom: 1px solid #eee; font-size: 12px; }
#entries .entry:nth-child(2) { border-top: 1px solid #fff; }
#entries .entry:last-child { border-bottom: none; }
#entries .item { margin: 0; text-align: left; width: 360px; padding: 13px 5px 13px 9px; border: none; font-size: 18px; font-weight: 300; }
#entries .item:focus { color: #3FCB21; }
#entries .mask { display: none; }
@media only screen and (max-width: 735px) {
    #entries .entry { background: transparent; }
    #entries .entry:nth-child(2) { border-top: none; }
	#entries .item { font-size: 16px; width: 44%; padding: 20px 0 20px 15px; }
	#entries .mask { display: inline-block; position: relative; top: 15px; left: -30px; width: 30px; margin-right: -30px; height: 40px; background: linear-gradient(to right, rgba(256,256,256,0), #fff); }
}

#entries .details { font-size: 18px; }
#entries .amount { margin: 0; width: 35px; border: none; padding: 13px 5px; font-size: 18px; }
#entries .amount:hover, .amount:focus { color: #3FCB21; background: #f8f8f8; }
#entries .units { margin-left: 5px; }
#entries .button { float: right; display: inline-block; background-position: top left; background-repeat: no-repeat; background-size: auto 18px; margin: 14px 9px 0 0; width: 18px; height: 18px; }
#entries .button:hover, #entries .button.opened { cursor: pointer; background-position: -18px 0px; }
#entries .info { background-image: url("../images/info.svg"); display: none; }
#entries .remove { background-image: url("../images/remove.svg"); }
#entries .entry:nth-child(2):last-child .remove { display: none; }
@media only screen and (max-width: 735px) {
    #entries .details { font-size: 14px; }
    #entries .amount { width: 20px; background: #eee; border-radius: 3px; font-size: 16px; }
    #entries .units { margin-left: 8px; }
    #entries .button { margin-top: 22px; }
}

#entries .infodata { display: none; background: linear-gradient(to bottom, #555 0px, #777 6px, #777 95%, #717171 100%); color: #fff; padding: 0 16px; width: 568px; }
#entries .infodata ul { padding: 18px 0 20px; }
#entries .infodata li { padding: 4px 8px; border: 1px solid #aaa; font-size: 13px; display: inline-block; margin: -1px 0 0 -1px; }
#entries .infodata li:first-child { font-weight: 600; color: #87f272;}
@media only screen and (max-width: 735px) {
	#entries .infodata { width: 95%; padding: 0 2.5%; }
	#entries .infodata li { font-size: 10px; }
}

#controls { display: block; height: 35px; }
#controls .button { float: left; border-left: 2px solid #fff; cursor: pointer; font-size: 13px; text-align: center; line-height: 35px; }
@media only screen and (max-width: 735px) {
    #controls { height: 165px; background: #f3f3f3; }
	#controls .button { font-weight: 400; display: block; border-radius: 8px; border-left: none; font-size: 14px; line-height: 55px; }
}

#servings-container { float: left; background: #eee; width: 109px; padding-left: 9px; text-align: left; color: #333; line-height: 35px; font-size: 13px; }
#servings { width: 30px; text-align: left; border: none; margin-left: 10px; font-size: 14px; background: #fff; text-align: center; border-radius: 2px; }
#servings:hover, #servings:focus { color: #3FCB21; }
@media only screen and (max-width: 735px) {
    #servings-container { float: none; display: block; background: transparent; height: 70px; width: 100%; padding-left: 0; padding-right: 0; border-top: 1px solid #ccc; text-align: center; font-size: 14px; line-height: 50px; }
    #servings-container span { font-weight: 400; float: left; display: block; width: 44.5%; margin-left: 5%; margin-top: 26px; line-height: 42px; border-radius: 8px 0 0 8px; border: 1px solid #e3e3e3; }
    #servings {  float: left; width: 45%; margin-left: 0; margin-top: 26px; margin-bottom: 0; line-height: 44px; padding: 0; background: #e3e3e3; border-radius: 0 8px 8px 0; font-size: 16px; }
}

#undo { width: 78px; background: #eee; color: #ccc; cursor: default !important; }
#undo.active { color: #333; cursor: pointer !important; }
#undo.active:hover { background: #d8d8d8; }
#undo.active:active { background: #ccc; }
@media only screen and (max-width: 735px) {
	#undo { color: #aaa; background: #ddd; margin-top: 15px; float: left; width: 28%; margin-left: 5%; }
	#undo.active:hover, #undo.active:active { background: #ccc; }
}

#add { width: 199px; background: #eee; color: #333; }
#add:hover { background: #d8d8d8; }
#add:active { background: #ccc; }
@media only screen and (max-width: 735px) {
	#add { background: #ddd; margin-top: 15px; float: left; width: 28%; margin-left: 3%; }
	#add:hover, #add:active { background: #ccc;  }
}

#submit { width: 199px; background: #3dba21; color: #fff; }
#submit:hover { background: #3FCB21; }
#submit:active { background: #35b21b; }
@media only screen and (max-width: 735px) {
	#submit { letter-spacing: 0.5px; float: left; margin-top: 15px; width: 28%; margin-left: 3%; }
}