/* ==============================
   LAYOUT
   ============================== */


body {
    background: #fafafa;
}

main { 
    width: 1250px; 
    margin: 70px auto 60px;
    padding-left: 250px;
    transition: all .2s ease-in-out;
}

@media screen and (max-width: 1350px) {
    main {
        width: 1000px;
        padding-left: 0;
    }
}

@media screen and (max-width: 1050px) {
    main {
        width: 100%;
        padding: 0 25px;
        box-sizing: border-box;
    }
}

@media screen and (max-width: 600px) {
    main {
        margin: 50px auto 50px;
    }

}