/* OUTPUT */

#output { display: block; height: 0px; overflow: hidden; background: #fff; }
#output.revealed { height: auto; overflow: visible; }

.context { color: #666; width: 45%; max-width: 650px; padding: 0 5% 40px; vertical-align: top; }
@media only screen and (max-width: 735px) {
	.context { float: left; width: 90%; text-align: center; }
}
.context h1 { font-weight: 600; color: #fff; font-size: 40px; }
@media only screen and (max-width: 735px) {
	.context h1 { font-size: 32px; }
}
.context p { font-size: 18px; line-height: 170%; }
.context p:not(first-child) { margin-top: 20px; }
.context sup { vertical-align: top; position: relative; top: -.5em; color: inherit; margin-left: 2px; }
.context .icon { margin: 80px 0 50px; padding-bottom: 0; }
@media only screen and (max-width: 735px) {
	.context .icon { margin: 40px 0 30px; }
}
#sheets .context .icon { margin: 40px 0 30px; padding-bottom: 30px; border-bottom-width: 1px; border-bottom-style: solid; }

#nutrition-facts .context .icon { border-bottom-color: #57c141; }
#vitamins-minerals .context .icon { border-bottom-color: #e7745f; }
#calories .context .icon { border-bottom-color: #3182CF; }

#nutrition-facts .context h1 { color: #57c141; }
#vitamins-minerals .context h1 { color: #e7745f; }
#calories .context h1 { color: #3182CF; }

#vitamins-minerals, #vitamins-minerals .context { background-color: #f8f8f8; }