#recipe-drawer { z-index: 9998; display: none; position: absolute; right: 0; top: 30px; width: 300px; padding: 10px 20px 20px; line-height: 30px; background: #eee; box-shadow: 0 10px 10px rgba(0,0,0,.2); }
@supports ((-webkit-backdrop-filter: initial) or (backdrop-filter: initial)) {
	#recipe-drawer { -webkit-backdrop-filter: saturate(180%) blur(20px); backdrop-filter: saturate(180%) blur(20px); background-color: rgba(256,256,256,0.7); }
}
@media only screen and (max-width: 735px) {
	#recipe-drawer { width: 94%; padding: 10px 3% 20px; top: 40px; border-radius: 0 0 10px 10px; background: #333; box-shadow: 0 10px 10px rgba(0,0,0,.5); }
    @supports ((-webkit-backdrop-filter: initial) or (backdrop-filter: initial)) {
	   #recipe-drawer { -webkit-backdrop-filter: saturate(180%) blur(20px); backdrop-filter: saturate(180%) blur(20px); background-color: rgba(0,0,0,0.8); }
    }
}

#recipe-drawer div { font-size: 11px; color: #666; }
#recipe-drawer h3 { color: #888; text-align: center; width: 100%; }

#delete-options { border-width: 1px 1px 1px 0; border-style: solid; border-color: rgba(0,0,0,0.1); }
#delete-options span { height: 30px; line-height: 30px; text-align: center; }
#delete-all { display: inline-block; width: 30%; background: rgba(0,0,0,0.1); }
#delete-all:hover, #delete-all:active { background: rgba(0,0,0,0.2); cursor: pointer; }
@media only screen and (max-width: 735px) {
    #recipe-drawer div { font-size: 12px; color: #ccc; }
    #recipe-drawer h3 { color: #eee; font-weight: 100; font-size: 16px; }
    #delete-options { border-radius: 20px; border-color: rgba(256,256,256,0.2);}
    #delete-options span { height: 40px; line-height: 40px; }
    #delete-all { border-radius: 20px; color: #ccc; background: rgba(256,256,256,0.2); }
}
#confirm-delete-container { display: inline-block; width: 67.5%; }
#confirm-delete { margin-right: 6px; }
#delete-notice  { padding-top: 20px; text-align: center; line-height: normal; color: #888 !important; }

#my-recipes-list { margin-bottom: 20px; }
#my-recipes-list li { padding: 5px 2% 5px 0; width: 98%; overflow: hidden; border-bottom: 1px solid rgba(0,0,0,0.1); }
#my-recipes-list li:first-child { border-top: 1px solid rgba(0,0,0,0.1); }
#my-recipes-list input { width: 180px; padding: 5px 5px; color: #3dba21; font-size: 13px; font-weight: 400; text-align: left; border-radius: 3px; }
#my-recipes-list input:hover, #my-recipes-list input:focus { background: rgba(0,0,0,0.05); }
#my-recipes-list .recipe-date { font-size: 11px; color: #888; float: right; margin-right: 10px; }
#my-recipes-list .remove-recipe { float: right; display: inline-block; background-image: url("../images/remove.svg"); background-position: top left; background-repeat: no-repeat; background-size: auto 18px; margin-top: 6px; width: 18px; height: 18px; }
#my-recipes-list .remove-recipe:hover { cursor: pointer; background-position: -36px 0px; }
@media only screen and (max-width: 735px) {
    #my-recipes-list li { padding: 10px 2% 10px 0; border-bottom: 1px solid rgba(256,256,256,0.2); }
    #my-recipes-list li:first-child { border-top: 1px solid rgba(256,256,256,0.2); }
    #my-recipes-list input { width: 65%; font-size: 14px; }
    #my-recipes-list input:hover, #my-recipes-list input:focus { background: rgba(256,256,256,0.1); }
    #my-recipes-list .recipe-date { font-size: 12px; }
}